.menu{
    width: 50%;
    height: 10vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media(orientation:portrait){
        width: 100%;
    }
    .menu__profiles{
        width: 5%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @media(orientation:portrait){
            width: 6%;
        }
        i{
            color: $mainColor;
            font-size: 1vw;
            @media(orientation:portrait){
                font-size: 2.5vw;
            }
        }
    }
    .menu__link{
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $mainFont;
        font-size: 1vw;
        font-weight: 700;

        a{
            color: $colorWhite;
            text-decoration: none;
            @media(orientation:portrait){
                font-size: 4vw;
            }
            &:hover{
                text-decoration: underline 2px $mainColor;
            }
        }
    }
}
.header{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(../img/programming-1857236_1920.jpg);
    background-size: cover;
    background-position: center;
    .header__introducing-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        background-color: rgba($color: $colorBlack, $alpha: .8);
        .introducing-wrapper__first-element{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            @media(orientation:portrait){
                width: 80%;
            }
            .first-element__img{
                width: 30%;
                @media(orientation:portrait){
                    width: 70%;
                }
                .img__image{
                    width: 100%;
                    height: auto;
                    padding-top: 100%;
                    border-radius: 50%;
                    background-image: url(../img/pexels-bruno-salvadori-2269872.jpg);
                    background-size: cover;
                    background-position: center;
                    border: 2px solid $colorWhite;
                }
            }
            .first-element__text{
                width: 90%;
                height: 60%;
                @media(orientation:portrait){
                    height: 30%;
                }
                .text__first-sentence{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    font-family: $mainFont;
                    color: $colorWhite;
                    font-size: 2.5vw;
                    font-weight: 700;
                    @media(orientation:portrait){
                        font-size: 4.5vw;
                    }
                }
                .text__second-sentence{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $mainFont;
                    color: $colorWhite;
                    font-size: 2vw;
                    font-weight: 300;
                    @media(orientation:portrait){
                        font-size: 3vw;
                    }
                    span{
                        padding-left: .5em;
                        padding-right: .2em;
                        color: $mainColor;
                        font-size: 3vw;
                        font-weight: 700;
                        @media(orientation:portrait){
                            font-size: 5vw;
                        }
                    }
                }
                .text__third-sentence{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $mainFont;
                    color: $colorWhite;
                    font-size: 2vw;
                    font-weight: 300;
                    @media(orientation:portrait){
                        font-size: 3vw;
                    }
                    span{
                        padding-left: .5em;
                        color: $mainColor;
                        font-size: 3vw;
                        font-weight: 700;
                        @media(orientation:portrait){
                            font-size: 4vw;
                        }
                    }
                }

            }
        }
        .introducing-wrapper__second-element{
            width: 50%;
            height: 40%;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(orientation:portrait){
                width: 80%;
                height: 20%;
            }
            .second-element__text{
                width: 80%;
                height: 90%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                .text__sentence{
                    width: 100%;
                    height: 50%;
                    font-family: $mainFont;
                    color: $colorWhite;
                    font-size: 1vw;
                    font-style: italic;
                    text-align: justify;
                    @media(orientation:portrait){
                        font-size: 2.5vw;
                    }
                    span{
                        color: $mainColor;
                        font-size: 1vw;
                        @media(orientation:portrait){
                            font-size: 2.5vw;
                        }
                    }
                }
            }
        }
    }
}