.motto{
    width: 100%;
    height: 100vh;
    background-image: url(../img/programming-1857236_1920.jpg);
    .motto__wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: rgba($color: $colorBlack, $alpha: 0.8);
        .wrapper__sentence1{
            width: 30%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $mainFont;
            font-size: 5vw;
            font-weight: 700;
            color: $mainColor;
            animation: firstSentenceAnimation 1s .5s both;
            @keyframes firstSentenceAnimation {
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }
        .wrapper__sentence2{
            width: 50%;
            height: 20%;
            position: relative;
            font-family: $mainFont;
            font-size: 4vw;
            font-weight: 300;
            color: $colorWhite;
            animation: secondSentenceAnimation 2s 1.5s both;
            @keyframes secondSentenceAnimation {
                0%{
                    top: 0;
                    right: -100%;
                }
                100%{
                    top: 0;
                    right: 5%;
                }
                
            }

        }
        .wrapper__sentence3{
            width: 50%;
            height: 20%;
            position: relative;
            font-family: $mainFont;
            font-size: 4vw;
            font-weight: 300;
            color: $colorWhite;
            animation: thirdSentenceAnimation 2s 3s both;
                
            @keyframes thirdSentenceAnimation {
                0%{
                    top: 0;
                    left: -100%;
                }
                100%{
                    top: 0;
                    left: 5%;
                }
                
            }
        }
    }
}